<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">

        <springProfile name="default">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </springProfile>

        <springProfile name="test, qa, prod">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <context/>
                    <timestamp/>
                    <version/>
                    <logstashMarkers/>
                    <mdc>
                        <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-B3-ParentSpanId</excludeMdcKeyName>
                        <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
                    </mdc>
                    <pattern>
                        <pattern>
                            {
                            "app": "initializer",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "spanParent": "%X{X-B3-ParentSpanId:-}"
                            }
                        </pattern>
                    </pattern>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>

        </springProfile>

    </appender>


    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="asyncConsole"/>
    </root>

</configuration>